nav {
    position: relative;
}

#hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
}

.slider-container {
    position: relative;
    width: 600px;
    overflow: hidden;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 5px solid #000;
  }
  
  .image-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }

  .image-container img {
      width: 600px;
      position: relative;
  }

  .card-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .card-slide h3 {
      background-color: #000;
      color: #fff;
  }
  
  /* .btn {
    position: absolute;
    bottom: 5px;
    color: #fff;
    font-size: 40px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .btn.prev {
    left: 10px;
  }
  
  .btn.next {
    right: 10px;
  }
  
  .btn:hover {
    opacity: 1;
  } */